---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllPosts } from '../../prismic.ts';

const {tags} = await getAllPosts();

 const sortedTags = Object.keys(tags)
    .map(function (key) {
      return tags[key];
    })
    .sort(function (a, b) {
      return b.count - a.count;
    });

let title = 'Categories - Happy Clicks - Delightful Interaction Inspiration';

---
<BaseLayout
  title={title}
  permalink={"https://happyclicks.dev/"}
  tags={tags}
  ogImage=""
>
  <main class="hacl-container">
  <h1 class="hacl-h3">Categories</h1>
    <ul class="hacl-column-container">
      {sortedTags.map((tag) => (
        <li class="hacl-categoryCard">
          <a href={`/categories/${tag.uid}`} class="hacl-categoryCard__link">{tag.name}</a>
          <span class="hacl-categoryCard__count">{tag.count} Post{tag.count > 1 && 's'}</span>
          <img class="hacl-categoryCard__image" src={`https://res.cloudinary.com/frontendhorse/video/upload/w_500/happyclicks/${tag.posts[0].cloudinary_video_id}.jpg`} alt=""/>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
